@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Noto+Sans+TC:wght@400;700;900&family=Righteous&display=swap");
.about__img, .portfolio__content, .skill__content {
  border: 1rem solid var(--color-main2);
  box-shadow: 0.7rem 0.7rem 0px var(--color-main1);
}

.portfolio__content, .skill__content {
  border-radius: 2rem;
  background: var(--color-white);
}

.circular__value, .circular__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --color-main1: #ff5f5f;
  --color-main1-light: #ffd2d2;
  --color-main1-dark: #c34446;
  --color-main1-dark2: #7f4849;
  --color-main2: #86d3ff;
  --color-main2-dark: #62bbee;
  --color-light: #f4fbff;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-light: #e2e2e2;
  --color-gray-light2: #969696;
  --color-gray-dark: #777;
  --color-gray-dark2: rgb(53, 53, 53);
  --shadow-box-dark: 0.5rem 0.5rem 0px #d50000;
  --border-solid: 0.5rem var(--color-main1) solid;
  --border-solid2: 0.5rem var(--color-main2) solid;
  --border-width: 0.5rem;
  --max-width: 1300px;
  --header-height: 6rem;
  --viewTop-height: 8rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 78.15em) {
  html {
    font-size: 58%;
  }
}

body {
  scroll-behavior: smooth;
  font-family: "Righteous", "Noto Sans TC", cursive;
  background: url("../src/img/bg.jpg") repeat;
}

img {
  display: block;
}

h1 {
  font-size: 3rem;
}
@media (max-width: 48.75em) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

::-moz-selection {
  color: var(--color-white);
  background: var(--color-main2-dark);
}

::selection {
  color: var(--color-white);
  background: var(--color-main2-dark);
}

::-webkit-scrollbar {
  width: 2rem;
  cursor: pointer;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  padding-right: 0.5rem;
  border-radius: 1rem;
  background-color: var(--color-main2);
  border: 0.5rem solid var(--color-white);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main2-dark);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

:target:before {
  content: "";
  display: block;
  height: 10rem;
}

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes float {
  0% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-2rem);
  }
}
.text__mainTitle {
  font-weight: 900 !important;
  color: var(--color-main2);
  text-shadow: 3px 4px 0 var(--color-main1);
  font-weight: bold;
}

.text__title--1, .text__title--shadow, .text__title--3, .text__title--2 {
  font-family: "Righteous", cursive;
  font-weight: bold;
  font-size: 25rem;
  text-align: center;
  -webkit-text-stroke: 3rem var(--color-white);
}

.text__title--1, .text__title--shadow, .text__title--3, .text__title--2 {
  color: transparent; /* 文字顏色設定透明 */
  background-image: linear-gradient(45deg, var(--color-white) 20%, var(--color-main2) 20%, var(--color-white) 60%, var(--color-main2) 60%); /* 設定漸層角度及顏色 */
  -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
  background-clip: text;
  background-size: 600%;
}

.text__title {
  font-size: 25rem;
  position: relative;
}
.text__title br {
  display: none;
}
@media (max-width: 48.75em) {
  .text__title br {
    display: block;
  }
}
.text__title--1, .text__title--shadow, .text__title--3, .text__title--2 {
  animation: color-change 10s infinite, float 4s infinite;
  position: absolute;
  top: 0;
  z-index: 4;
  -webkit-text-stroke: 0.2rem var(--color-main2);
}
.text__title--2 {
  z-index: 3;
  -webkit-text-stroke: 2.5rem var(--color-white);
}
.text__title--3 {
  z-index: 2;
  -webkit-text-stroke: 3.5rem var(--color-main1);
}
.text__title--shadow {
  z-index: 1;
  color: var(--color-main1);
  -webkit-text-stroke: 3.5rem var(--color-main1);
  animation-duration: 0s; /*動畫持續時間，單位為秒*/
}

@media (max-width: 61.25em) {
  .text__title, .text__title--1, .text__title--2, .text__title--3, .text__title--shadow {
    font-size: 20rem;
  }
}
@media (max-width: 48.75em) {
  .text__title, .text__title--1, .text__title--2, .text__title--3, .text__title--shadow {
    font-size: 17rem;
  }
}
@media (max-width: 34.37em) {
  .text__title, .text__title--1, .text__title--2, .text__title--3, .text__title--shadow {
    font-size: 10rem;
  }
}

.text__title--sub,
.text__subTitle.text__title--1,
.text__subTitle.text__title--shadow,
.text__subTitle.text__title--2,
.text__subTitle.text__title--3 {
  margin-top: 1rem;
  font-family: "Happy Monkey", "Noto Serif TC", cursive;
  font-size: 5rem;
  letter-spacing: 1.5rem;
  animation-name: float; /*動畫名稱，需與 keyframe 名稱對應*/
  animation-duration: 6s; /*動畫持續時間，單位為秒*/
  animation-timing-function: ease-in-out; /*動畫播放速度曲線*/
  animation-iteration-count: infinite; /*動畫次數，infinite 為無限次*/
  animation-direction: alternate-reverse;
}
@media (max-width: 48.75em) {
  .text__title--sub,
  .text__subTitle.text__title--1,
  .text__subTitle.text__title--shadow,
  .text__subTitle.text__title--2,
  .text__subTitle.text__title--3 {
    font-size: 4rem;
    margin-top: 2rem;
  }
}
@media (max-width: 34.37em) {
  .text__title--sub,
  .text__subTitle.text__title--1,
  .text__subTitle.text__title--shadow,
  .text__subTitle.text__title--2,
  .text__subTitle.text__title--3 {
    margin-top: 2.5rem;
  }
}

.btn__choose {
  white-space: nowrap;
  position: relative;
  z-index: 0;
  color: var(--color-white);
  font-weight: 900;
  font-size: 3.5rem;
  padding: 1rem 2rem;
  letter-spacing: 1rem;
  box-align: center;
  border-radius: 5rem;
  background: var(--color-white);
  border: var(--border-solid);
  box-shadow: 0.5rem 0.5rem 0px var(--color-main2);
}
@media (max-width: 48.75em) {
  .btn__choose {
    color: var(--color-main1);
  }
}
@media (max-width: 34.37em) {
  .btn__choose {
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
  }
}
.btn__choose::before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 0.6rem var(--color-main1);
  z-index: -1;
}
@media (max-width: 48.75em) {
  .btn__choose::before {
    display: none;
  }
}
.btn__choose:hover {
  cursor: pointer;
}

.box {
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -6rem;
  width: 0;
  height: 0;
  border: 3rem solid;
  border-width: 2rem 5rem 2rem 1rem;
  border-color: transparent var(--color-main1) transparent transparent;
}
@media (max-width: 61.25em) {
  .box::before {
    border-width: 4rem 5rem 4rem 4rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0rem) rotate(270deg);
  }
}
.box::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4rem;
  width: 0;
  height: 0;
  border: 3rem solid;
  border-width: 1.5rem 4rem 1.5rem 1rem;
  border-color: transparent var(--color-white) transparent transparent;
}
@media (max-width: 61.25em) {
  .box::after {
    border-width: 4rem 5rem 4rem 4rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -1.5rem) rotate(270deg);
  }
}
.box__reverse .box__talk {
  --shadow-box-dark: -0.5rem 0.5rem 0px #d50000;
}
@media (max-width: 61.25em) {
  .box__reverse .box__talk {
    --shadow-box-dark: 0.5rem 0.5rem 0px #d50000;
  }
}
.box__reverse::before {
  left: auto;
  right: -6rem;
  transform: rotate(180deg);
}
.box__reverse::after {
  left: auto;
  right: -4rem;
  transform: rotate(180deg);
  top: 52%;
}
@media (max-width: 61.25em) {
  .box__reverse::after, .box__reverse::before {
    display: none;
  }
}
.box__talk {
  background-color: var(--color-white);
  box-shadow: var(--shadow-box-dark);
  border-radius: 2rem;
  border: 0.8rem var(--color-main1) solid;
  line-height: 1.5;
  flex: 1;
  padding: 2rem 5rem;
}
@media (max-width: 48.75em) {
  .box__talk {
    padding: 2rem;
  }
}
.box__talk h1 {
  line-height: 2;
  letter-spacing: 0.5rem;
  color: var(--color-main1-dark);
  text-decoration-line: underline;
}
@media (max-width: 78.15em) {
  .box__talk h1 br {
    display: none;
  }
}
@media (max-width: 61.25em) {
  .box__talk h1 br {
    display: block;
  }
}
.box__talk h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--color-main1-dark2);
}
.box__talk p {
  font-size: 1.5rem;
  color: var(--color-gray-dark);
}
@media (max-width: 61.25em) {
  .box__talk--me {
    order: -1;
    margin-bottom: 4rem;
  }
}

.skill__tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}
@media (max-width: 34.37em) {
  .skill__tab-container {
    gap: 1rem;
  }
}
.skill__tab {
  transform: translateY(50%);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 48.75em) {
  .skill__tab span {
    display: none;
  }
}
.skill__tab--active {
  transform: translateY(35%);
  background-color: var(--color-main2);
  box-shadow: none;
}
@media (max-width: 48.75em) {
  .skill__tab--active {
    text-shadow: 2px 2px 0px var(--color-white);
  }
}
.skill__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem 10rem;
  display: none;
  padding: 10rem 2rem;
}
.skill__content--active {
  display: flex;
}

.circular {
  width: 25rem;
  height: 25rem;
  background: transparent;
  position: relative;
}
@media (max-width: 48.75em) {
  .circular {
    width: 18rem;
    height: 18rem;
  }
}
.circular__inner {
  z-index: 6;
  width: 18rem;
  height: 18rem;
  background: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 48.75em) {
  .circular__inner {
    width: 14rem;
    height: 14rem;
  }
}
.circular__value {
  z-index: 10;
  color: var(--color-gray-dark);
  font-size: 3rem;
}
.circular__text {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3.5rem;
  color: var(--color-main1-dark);
  font-size: 2.5rem;
  white-space: nowrap;
}

.circle__percent {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-gray-light);
  border-radius: 100%;
}
.circle__progress {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.circle__progress--css {
  background-image: conic-gradient(var(--color-main1) 0% 75%, var(--color-gray-light) 75% 100%);
}
.circle__progress--html {
  background-image: conic-gradient(var(--color-main1) 0% 80%, var(--color-gray-light) 80% 100%);
}
.circle__progress--js {
  background-image: conic-gradient(var(--color-main1) 0% 35%, var(--color-gray-light) 35% 100%);
}
.circle__progress--figma {
  background-image: conic-gradient(var(--color-main1) 0% 60%, var(--color-gray-light) 60% 100%);
}
.circle__progress--ps {
  background-image: conic-gradient(var(--color-main1) 0% 80%, var(--color-gray-light) 80% 100%);
}
.circle__progress--ai {
  background-image: conic-gradient(var(--color-main1) 0% 50%, var(--color-gray-light) 50% 100%);
}
.circle__progress--maya {
  background-image: conic-gradient(var(--color-main1) 0% 60%, var(--color-gray-light) 60% 100%);
}
.circle__progress--zb {
  background-image: conic-gradient(var(--color-main1) 0% 50%, var(--color-gray-light) 50% 100%);
}

.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio__tab-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 2.5rem;
}
.portfolio__tab {
  writing-mode: vertical-lr;
  position: relative;
  z-index: 0;
  white-space: nowrap;
  border: var(--border-solid2);
  background-color: var(--color-white);
  color: var(--color-white);
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 1rem;
  padding: 2rem 1.5rem 1rem 1rem;
  border-radius: 2rem 2rem 0 0rem;
  transform: translate(2rem, 1rem);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 48.75em) {
  .portfolio__tab {
    color: var(--color-main2);
  }
  .portfolio__tab span {
    display: none;
  }
}
.portfolio__tab::before {
  content: attr(data-text);
  position: absolute;
  z-index: -2;
  -webkit-text-stroke: 0.5rem var(--color-main2);
}
@media (max-width: 48.75em) {
  .portfolio__tab::before {
    display: none;
  }
}
.portfolio__tab:hover {
  cursor: pointer;
}
.portfolio__tab.portfolio__tab--active {
  background-color: var(--color-main2);
  transform: translate(2rem, 0rem);
}
@media (max-width: 48.75em) {
  .portfolio__tab.portfolio__tab--active {
    color: var(--color-white);
  }
}
.portfolio__content {
  flex: 1;
  overflow-y: scroll;
  display: none;
  padding: 3rem 3rem 3rem 5rem;
}
.portfolio__content.portfolio__content--active {
  display: flex;
}
.portfolio__items {
  flex: 1;
  height: 60rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}
.portfolio__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: calc(33.333% - 3rem);
}
@media (max-width: 78.15em) {
  .portfolio__item {
    width: calc(50% - 3rem);
  }
}
@media (max-width: 48.75em) {
  .portfolio__item {
    width: 100%;
  }
}
.portfolio__item--img {
  position: relative;
  border: 0.6rem solid var(--color-main1);
  border-radius: 3rem;
  overflow: hidden;
  width: 100%;
}
.portfolio__item--img::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(181, 226, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
.portfolio__item--img img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.portfolio__item--img:hover {
  cursor: pointer;
}
.portfolio__item--img:hover::after {
  background-color: transparent;
}
.portfolio__item--img:hover img {
  transform: scale(1);
}
.portfolio__item--text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--color-main1-dark);
}
.portfolio__item--text h1 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media (max-width: 48.75em) {
  .portfolio__item--text h1 {
    font-size: 2rem;
  }
}
.portfolio__item--text span {
  font-size: 2rem;
}

@media (max-width: 78.15em) {
  .portfolio__box-img img, .portfolio__box-details {
    max-width: 90rem !important;
  }
}
@media (max-width: 61.25em) {
  .portfolio__box-img img, .portfolio__box-details {
    max-width: 70rem !important;
  }
}
@media (max-width: 48.75em) {
  .portfolio__box-img img, .portfolio__box-details {
    max-width: 53rem !important;
  }
}
@media (max-width: 34.37em) {
  .portfolio__box-img img, .portfolio__box-details {
    max-width: 35rem !important;
  }
}

.portfolio-box {
  display: none;
  background-color: rgba(151, 140, 140, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}
.portfolio-box--active {
  display: block;
}
.portfolio-boxContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 125rem;
  background-color: var(--color-light);
  border: 1rem solid var(--color-main2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  padding: 5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media (max-width: 78.15em) {
  .portfolio-boxContainer {
    width: 90%;
  }
}
@media (max-width: 48.75em) {
  .portfolio-boxContainer {
    width: 95%;
  }
}
.portfolio__box-details {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 2rem 1rem;
  width: 105rem;
}
.portfolio__box-details--title {
  display: flex;
  align-items: center;
}
@media (max-width: 48.75em) {
  .portfolio__box-details--title {
    flex-direction: column;
  }
}
.portfolio__box-details--title h1 {
  color: var(--color-main1-dark);
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  white-space: nowrap;
}
@media (max-width: 48.75em) {
  .portfolio__box-details--title h1 {
    font-size: 3rem;
    white-space: normal;
  }
}
.portfolio__box-details--title p {
  color: var(--color-main1-dark);
  letter-spacing: 0.2rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.portfolio__box-details--small {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
.portfolio__box-details--small small,
.portfolio__box-details--small a {
  background-color: var(--color-main2-dark);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.portfolio__box-details--small small mark,
.portfolio__box-details--small a mark {
  background-color: inherit;
  color: currentColor;
}
.portfolio__box-details--small a {
  background-color: #307bb7;
}
.portfolio__box-details--small a:hover {
  background-color: var(--color-main1);
}
.portfolio__box-details--small span {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  display: flex;
  color: var(--color-gray-dark);
}
.portfolio__box-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.portfolio__box-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 105rem;
  max-height: 60rem;
  margin: 0 auto;
  border-radius: 3rem;
  border: 1rem solid var(--color-main1);
}
@media (max-width: 48.75em) {
  .portfolio__box-img img {
    border: 0.7rem solid var(--color-main1);
  }
}
.portfolio__box-img .btn__prev,
.portfolio__box-img .btn__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-main1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgba(118, 205, 255, 0.5);
  transition: all 0.2s ease-in-out;
}
.portfolio__box-img .btn__prev:hover,
.portfolio__box-img .btn__next:hover {
  color: var(--color-main1-dark);
  cursor: pointer;
  background-color: rgba(118, 205, 255, 0.8);
}
@media (max-width: 34.37em) {
  .portfolio__box-img .btn__prev,
  .portfolio__box-img .btn__next {
    top: 30%;
    opacity: 0.8;
  }
}
.portfolio__box-img .btn__prev {
  left: 1.5rem;
}
.portfolio__box-img .btn__next {
  right: 1.5rem;
}

.btn__close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-main2);
  color: var(--color-white);
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: all 0.1s ease-in-out;
}
.btn__close:hover {
  color: var(--color-main1);
  cursor: pointer;
  background-color: var(--color-main2-dark);
}

.header {
  background-color: var(--color-main1-light);
  display: flex;
  height: var(--header-height);
  width: 100%;
  transition: all 0.3s;
  border-top: var(--border-solid);
  border-right: var(--border-solid);
  border-bottom: none;
  border-left: var(--border-solid);
}
.header__close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--color-main1);
  padding: 2rem;
  margin-left: 2rem;
  transition: all 0.2s ease-in-out;
}
.header__close i {
  color: var(--color-white);
}
.header__close:hover {
  cursor: pointer;
  background-color: var(--color-main1-dark);
}
@media (max-width: 48.75em) {
  .header__close {
    padding: 1rem;
  }
}
.header.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  border-top: var(--border-solid);
  border-right: none;
  border-bottom: var(--border-solid);
  border-left: none;
  height: calc(var(--header-height) + 1rem);
}

.header .nav {
  flex: 1;
  margin-left: 1rem;
  font-size: 1.8rem;
}
.header .nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 1rem;
}
.header .nav__item {
  width: 100%;
  max-width: 30rem;
  transition: all 0.3s ease-in-out;
}
.header .nav__item a {
  display: inline-block;
  width: inherit;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-main1);
  letter-spacing: 0.5rem;
  background-color: var(--color-light);
  border-radius: 1rem 2rem 0rem 0rem;
  padding: 0.6rem 2rem;
  transition: all ease-in-out 0.2s;
  border-top: var(--border-solid);
  border-right: var(--border-solid);
  border-bottom: none;
  border-left: var(--border-solid);
}
@media (max-width: 48.75em) {
  .header .nav__item a {
    padding: 0.6rem 1rem;
  }
}
.header .nav__item a:hover, .header .nav__item a:active {
  color: var(--color-white);
  background-color: var(--color-main1);
}
@media (max-width: 61.25em) {
  .header .nav__item a span {
    display: none;
  }
}
.header .nav__item--active {
  max-width: 33rem;
}
.header .nav__item--active a {
  color: var(--color-white);
  background-color: var(--color-main1);
}

footer {
  background-color: var(--color-main1);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer p {
  color: var(--color-white);
}

/* flex系列 ============*/
.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 6rem;
}
.row:not(:last-child) {
  margin-bottom: 1rem;
}
.row .col-1-of-2 {
  width: 50%;
}
.row .col-1-of-3 {
  width: 33.3333333333%;
}
.row .col-2-of-3 {
  width: 150%;
}
.row .col-1-of-4 {
  width: 25%;
}
.row .col-2-of-4 {
  width: 200%;
}
.row .col-3-of-4 {
  width: 133.3333333333%;
}

.wrap {
  max-width: var(--max-width);
  width: 80%;
  position: relative;
  top: var(--viewTop-height);
  margin: 0 auto;
  transition: all 0.3s;
}
.wrap.active {
  border: var(--border-solid);
  max-width: 100%;
  width: 100%;
  top: 0;
}
@media (max-width: 78.15em) {
  .wrap {
    width: 90%;
  }
}

.section {
  position: relative;
}

.section.active:not(:nth-child(2)) {
  max-width: var(--max-width);
  margin: 10rem auto 0;
  padding: 0rem 5rem;
}
@media (max-width: 34.37em) {
  .section.active:not(:nth-child(2)) {
    padding: 0rem 2rem;
  }
}
.section.active:last-child {
  margin-bottom: 10rem;
}

.index {
  height: 100vh;
}
.index__wrap {
  height: 70vh;
  border: var(--border-solid);
  background: url("../src/img/bg__index.jpg") no-repeat left bottom/cover;
  transition: all 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.index__wrap.active {
  height: 100vh;
  border-left: none;
  border-right: none;
}
.index .icon__arrow {
  opacity: 1;
  transition: all 0.3s;
}
.index .icon__arrow.hidden {
  opacity: 0;
}
.index .icon__arrow i {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  color: var(--color-main1);
  animation-name: float; /*動畫名稱，需與 keyframe 名稱對應*/
  animation-duration: 1.5s; /*動畫持續時間，單位為秒*/
  animation-timing-function: ease-in-out; /*動畫播放速度曲線*/
  animation-iteration-count: infinite; /*動畫次數，infinite 為無限次*/
  animation-direction: alternate-reverse;
}

.about {
  display: grid;
  row-gap: 3rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
  grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 61.25em) {
  .about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
  }
}
.about__name {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1rem;
}
.about__content {
  grid-column: 1;
}
.about .table {
  font-size: 1.5rem;
  border-spacing: 1rem;
}
.about .table__title {
  text-align: center;
  font-weight: bold;
  background-color: var(--color-white);
  color: var(--color-main1);
  border: 0.1rem currentColor solid;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.about .table__detail {
  color: var(--color-main1-dark2);
  padding-left: 1rem;
}
.about__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  border-radius: 5rem;
  width: 25rem;
  height: 25rem;
}
@media (max-width: 78.15em) {
  .about__img {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 61.25em) {
  .about__img {
    width: 25rem;
    height: 25rem;
  }
}
.about__img--me {
  background: var(--color-white) url("../src/img/8bit_自畫像.png") no-repeat center/cover;
}
.about__img--mickey {
  background: var(--color-white) url("../src/img/8bit_米奇.png") no-repeat center/cover;
}
@media (max-width: 61.25em) {
  .about__img--mickey {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-top: 3rem;
  }
}

/* 時間軸語法 ========================================*/
.timeLine {
  position: relative;
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0rem auto 3rem auto;
}
.timeLine::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 8rem;
  background-color: var(--color-white);
  border: 1rem solid var(--color-main1);
  border-radius: 50%;
  box-shadow: var(--shadow-box-dark);
}
.timeLine::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: calc(100% + 5rem);
  background-color: var(--color-main1);
  border-radius: 2rem;
  box-shadow: var(--shadow-box-dark);
}
.timeLine__item {
  border-radius: 50px;
  width: 50%;
  position: relative;
  margin: 2rem 0rem;
}
.timeLine__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 5px solid var(--color-main1);
}
.timeLine__content {
  background-color: var(--color-white);
  border: 1rem double var(--color-main1);
  box-shadow: var(--shadow-box-dark);
  color: var(--main-main-color);
  border-radius: 2rem;
  padding: 1rem 2rem;
}
.timeLine__content h2 {
  color: var(--color-main1-dark);
  margin-bottom: 0.5rem;
}
.timeLine__content h2::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 1rem;
  width: 12rem;
  margin: auto;
  background-color: var(--color-main1);
  box-shadow: var(--shadow-box-dark);
}
.timeLine__content p {
  color: var(--color-main1-dark2);
  line-height: 2.5rem;
}
.timeLine__content p small {
  color: var(--color-white);
  background-color: var(--color-gray-light2);
  padding: 0.2rem 0.8rem;
  border-radius: 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.timeLine .timeLine__item:nth-child(odd) h2::after {
  right: 0;
}
.timeLine .timeLine__item:nth-child(even) h2::after {
  left: 0;
}
.timeLine .timeLine__item:nth-child(odd) {
  padding: 0.5rem 9rem 0.5rem 0.5rem;
}
.timeLine .timeLine__item:nth-child(odd)::before {
  right: -1.5rem;
}
.timeLine .timeLine__item:nth-child(even) {
  padding: 0.5rem 0.5rem 0.5rem 9rem;
  transform: translateY(12rem);
}
.timeLine .timeLine__item:nth-child(even)::before {
  left: -1.5rem;
}

@media (max-width: 61.25em) {
  #timeLine {
    margin-top: 0;
  }
}

@media (max-width: 61.25em) {
  .section .timeLine {
    align-items: center;
    min-height: auto;
  }
  .section .timeLine h1 {
    font-size: 4rem;
  }
  .section .timeLine h1::after {
    display: none;
  }
  .section .timeLine::before {
    display: none;
  }
  .section .timeLine .timeLine__item {
    flex-basis: 100%;
    padding: 0.5rem 0;
    transform: translateY(0);
  }
  .section .timeLine .timeLine__item::before {
    display: none;
    top: 0;
    bottom: auto;
    right: auto;
    left: -10px;
  }
}
.none {
  display: none;
}

/* 寬高系列 ================================================*/
.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: calc(100% - var(--header-height));
}

/* flex系列 ============================================*/
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.ju-center {
  justify-content: center;
}

.ju-start {
  justify-content: flex-start;
}

.ju-end {
  justify-content: flex-end;
}

.al-center {
  align-items: center;
}

.al-start {
  align-items: flex-start;
}

.al-end {
  align-items: flex-end;
}

/* margin系列 =====================================*/
.mx-auto {
  margin: 0 auto;
}

/*margin-left*/
.ml-0 {
  margin-left: 0;
}

.ml-s {
  margin-left: 1rem;
}

.ml-m {
  margin-left: 3rem;
}

.ml-l {
  margin-left: 5rem;
}

.ml-auto {
  margin-left: auto;
}

/*margin-right*/
.mr-0 {
  margin-right: 0;
}

.mr-s {
  margin-right: 1rem;
}

.mr-m {
  margin-right: 3rem;
}

.mr-l {
  margin-right: 5rem;
}

.mr-auto {
  margin-right: auto;
}

/*margin-top*/
.mt-0 {
  margin-top: 0;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 3rem;
}

.mt-l {
  margin-top: 5rem;
}

.mt-xl {
  margin-top: 8rem;
}

@media (max-width: 48.75em) {
  .mt-l {
    margin-top: 1rem;
  }
}
/*margin-bottom*/
.mb-0 {
  margin-bottom: 0;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 3rem;
}

.mb-l {
  margin-bottom: 5rem;
}

/* padding系列 ===================================*/
/*padding-left*/
.pl-0 {
  padding-left: 0;
}

.pl-s {
  padding-left: 1rem;
}

.pl-m {
  padding-left: 3rem;
}

.pl-l {
  padding-left: 5rem;
}

.pl-auto {
  padding-left: auto;
}

/*padding-right*/
.pr-0 {
  padding-right: 0;
}

.pr-s {
  padding-right: 1rem;
}

.pr-m {
  padding-right: 3rem;
}

.pr-l {
  padding-right: 5rem;
}

.pr-auto {
  padding-right: auto;
}

/*padding-top*/
.pt-0 {
  padding-top: 0;
}

.pt-s {
  padding-top: 1rem;
}

.pt-m {
  padding-top: 3rem;
}

.pt-l {
  padding-top: 5rem;
}

.pt-xl {
  padding-top: 8rem;
}

/*padding-bottom*/
.pb-0 {
  margin-bottom: 0;
}

.pb-s {
  margin-bottom: 1rem;
}

.pb-m {
  margin-bottom: 3rem;
}

.pb-l {
  margin-bottom: 5rem;
}